@media (min-width: 368px) and (max-width: 4991px) {

        .led {
        
            box-shadow: 0 0 20px rgb(7, 44, 255); /* Sombra luminosa */
        }

        .led2 {
            margin: 760px;
        /*   outline: 2px solid red;      margen color*/
        }

        .posicionsidebar{

        position: absolute;
        top: -678px;    /* alto */
        left: -762px; /* lado */
        }
        .posicionsregisalum{

            position: absolute;
            top: -600px;    /* alto */
            left: -170px; /* lado */
            overflow: auto; /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
        width: 40%;
        }



        .posicionlistaalta{

            position: absolute;
            top: 15%;    /* alto */
            left: 20%; /* lado */
            width: 75%;
        }
        .posicionlistaalta2{

                position: absolute;
                top: 15%;    /* alto */
                left: 60%; /* lado */
                width: 75%;

            }



        .posiciontablasmedia{

            position: absolute;
            top: 15%;    /* alto */
            left: 20%; /* lado */
            width: 75%;
        
            /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
            }

        .posiciontablasbaja{

            position: absolute;
            top: 65%;    /* alto */
            left: 20%; /* lado */
            width: 75%;
        
            /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
            }
            .posiciontablasmediabaja{

                position: absolute;
                top: 55%;    /* alto */
                left: 20%; /* lado */
                width: 75%;
            
                /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                }
                .posiciontablascorto{

                    position: absolute;
                    top: 52%;    /* alto */
                    left: 20%; /* lado */
                    width: 75%;
                
                    /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                    }
            .posiciontablas{

                position: absolute;
                top: 12%;    /* alto */
                left: 20%; /* lado */
                width: 75%;
            
                /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                }
                .posiciontablas2{

                    position: absolute;
                    top: 12%;    /* alto */
                    left: 60%; /* lado */
                    width: 75%;
                
                    /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                    }
                    .posiciontablas05{

                        position: absolute;
                        top: 9%;    /* alto */
                        left: 60%; /* lado */
                        width: 75%;
                    
                        /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                        }
                .posicionregisdesc{

                    position: absolute;
                    top: 12%;    /* alto */
                    left: 20%; /* lado */
                    width: 25%;
                
                    /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                    }
                    .posiciontablaregisdesc{

                        position: absolute;
                        top: 12%;    /* alto */
                        left: 50%; /* lado */
                        width: 95%;
                    
                        /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                        }

                .posiciontablaalumno{

                    position: absolute;
                    top: 14%;    /* alto */
                    left: 20%; /* lado */
                    width: 75%;
                
                    /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                    }
                    .posiciontablahorario{

                        position: absolute;
                        top: 14%;    /* alto */
                        left: 45%; /* lado */
                        width: 75%;
                    
                        /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                        }
    

                .posiciontablas2{

                    position: absolute;
                    top: 15%;    /* alto */
                    left: 60%; /* lado */
                    width: 75%;
                
                    /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                    }

                    .posiciontablasmedia{

                        position: absolute;
                        top: 25%;    /* alto */
                        left: 20%; /* lado */
                        width: 75%;
                    
                        /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                        }
        
                        .posiciontablas2media{
        
                            position: absolute;
                            top: 25%;    /* alto */
                            left: 60%; /* lado */
                            width: 75%;
                        
                            /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                            }

                            .posiciontablas33media{

                                position: absolute;
                                top: 35%;    /* alto */
                                left: 20%; /* lado */
                                width: 75%;
                            
                                /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                                }
                
                                .posiciontablas3media{
                
                                    position: absolute;
                                    top: 35%;    /* alto */
                                    left: 60%; /* lado */
                                    width: 75%;
                                
                                    /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                                    }





   

                                    
    




                .posiciontablasasig{

                    position: absolute;
                    top: 35%;    /* alto */
                    left: 60%; /* lado */
                    /* Permite el desplazamiento interno si el contenido es más grande que el contenedor */
                    }
                .posiciontablasderecha{

                    position: absolute;
                    top: 15%;    /* alto */
                    left: 120%; /* lado */
                    overflow: auto;
                    }
            .posicionseditalum{

                position: absolute;
                top: -500px;    /* alto */
                left: 30px; /* lado */
                }






        /* Botones de Diseño */
        .botonesdiseño {
            width: 50%; /* Ancho relativo */
            padding: 15px; /* Espaciado relativo */
            border: 2px solid #0023c1;
            border-radius: 100px;
            background-color: #1e1e1e;
            color: #ffffff;
            font-size: 1vw; /* Ajuste relativo al viewport */
        }
    
        /* Estilos Globales para Inputs */
        input[type="text"],
        input[type="submit"],
        input[type="select"],
        input[type="email"],
        input[type="number"],
        input[type="file"],
        input[type="search"],
        input[type="date"] {
            width: 95%; /* Ancho relativo al contenedor padre */
            padding: 2%;
            border: 2px solid #0023c1;
            border-radius: 10px;
            background-color: #1e1e1e;
            color: #ffffff;
            font-size: 1vw;
            appearance: none;
        }
    
        input[type="text"]:focus,
        input[type="date"]:focus {
            outline: none;
            border-color: #0331ff;
            box-shadow: 0 0 0.5vw #6984ff;
        }
    
        .buscadorpersonal {
       
       
           
            color: #000000;
            font-size: 1vw;
            appearance: none;
  
        }



        /* Etiquetas */
        label {
            color: #ffffff;
            font-family: Arial, sans-serif;
            display: block;
            margin-bottom: 0.5%;
            font-size: 1.2vw;
        }
    
        /* Submenús */
        .group:hover #subMenu {
            display: block;
        }
    
        /* Estilo para el elemento <select> */
select {
    width: 95%; /* Ancho relativo al contenedor padre */
    padding: 2%;
    border: 2px solid #0023c1;
    border-radius: 10px;
    background-color: #188bbc;
    color: #ffffff; /* Asegura que el texto sea blanco */
    font-size: 1vw;
   
}

/* Estilo para las opciones dentro del <select> */
select option {
    background-color: #1e1e1e; /* Fondo oscuro */
    color: #ffffff; /* Letras blancas */
}

    
        select option {
            background-color: #1e1e1e;
            color: #ffffff;
        }
    
        /* Posiciones relativas */
        .tablaposicion {
            position: relative;
            top: 5vh;
            left: 5vw;
        }
    
        .posicion1 {
            position: relative;
            top: 2vh;
            left: 5vw;
            overflow-x: auto;
            overflow-y: auto;
        }
    
        .posicion2 {
            position: relative;
            top: 5vh;
            left: 10vw;
        }
    
        .Buscadorposicion {
            position: relative;
            top: 5vh;
            left: 5vw;
        }
    
/* Ajusta el contenedor principal del buscador */
.tamañobuscadorsidebar {
    position: relative;
    max-width: 400px; /* Define un límite para el tamaño */
    margin: 0 auto; /* Centra el buscador */
}

/* Contenedor interno del buscador */
.buscador-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ocupará todo el ancho disponible del contenedor padre */
    padding: 0.5rem;
}

/* Estilos específicos del input */
.buscador-input {
    width: 100%; /* Se adapta al contenedor */
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Efecto al enfocar */
.buscador-input:focus {
    outline: none;
    border-color: #6984ff;
    box-shadow: 0 0 5px #6984ff;
}





        /* Animación de Borde */
        @keyframes borderAnimation {
            0% {
                border-color: rgb(4, 29, 255);
            }
            50% {
                border-color: rgb(255, 255, 255);
            }
            100% {
                border-color: rgb(30, 5, 255);
            }
        }
    
        .animate-border {
            animation: borderAnimation 5s infinite;
        }
    
        /* Fuente personalizada */
        @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
    
        .font-cinzel {
            font-family: 'Cinzel', serif;
            color: white;
            text-shadow: 0.2vw 0.2vw 0.4vw rgba(108, 67, 201, 0.8);
            letter-spacing: 0.1vw;
        }
    
        /* Tamaño de Letra */
        .tamañoletra {
            font-size: 1.5vw;
        }
    
        .relative h1 {
            color: white;
            text-shadow: 0.1vw 0.1vw 0.5vw rgba(108, 67, 201, 0.8);
        }
    
        input::placeholder {
            color: #ccc;
            font-size: 1vw;
        }
    
        .btn-primary {
            background-color: rgb(26, 19, 230);  /* Establece el color de fondo del botón a un azul oscuro */
            color: white;  /* El color del texto dentro del botón será blanco */
            border: 2px solid rgb(255, 255, 255);  /* Define un borde de 2px de color blanco alrededor del botón */
            padding: 1% 3%;  /* Ajuste del espaciado interno (padding): 1% en la parte superior e inferior y 3% a los lados */
            font-size: 1vw;  /* Establece el tamaño de la fuente en función del ancho de la ventana (1% del ancho de la ventana) */
            font-weight: bold;  /* Hace que el texto dentro del botón sea negrita */
            border-radius: 10px;  /* Redondea las esquinas del botón con un radio de 10px */
            cursor: pointer;  /* Cambia el cursor a una mano cuando el usuario pasa el mouse sobre el botón */
            transition: all 0.3s ease-in-out;  /* Aplica una transición suave en todas las propiedades que cambien (como el color, fondo, etc.) en 0.3 segundos */
            margin-top: 2%;  /* Añade un margen en la parte superior del botón, un 2% del contenedor superior */
            display: inline-block;  /* Hace que el botón se ajuste al tamaño de su contenido */
            text-align: center;  /* Alinea el texto dentro del botón al centro */
            
        }
        
        

    


        .btn-primary:hover {
            background-color: rgb(41, 9, 248);
            border-color: rgb(192, 192, 192);
            transform: scale(1.05);
        }
    
        .btn-primary:focus {
            outline: none;
            box-shadow: 0 0 0.5vw rgb(16, 32, 254);
        }
    }
    

    .formulario {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Tres columnas iguales */
        grid-gap: 4%; /* Espacio entre celdas */
        background-color: #0a0f2c; /* Azul oscuro */
        border-radius: 10px; /* Bordes redondos */
        border: 2px solid #00d9ff; /* Línea LED azul celeste */
        padding: 8%; /* Espaciado interno en porcentaje */
        box-shadow: 0 0 10px #00d9ff; /* Efecto LED brillante */
        min-height: 60vh; /* Altura mínima para formularios más largos */
        max-width: 100%; /* Ancho máximo en porcentaje */
        margin: 0 auto; /* Centrar el formulario */
    }
    
    
    
        .formulario > * {
        grid-column: auto; /* Asigna cada elemento a una celda */
        }


        
        .formulario1x1 {
            display: grid;
            grid-template-columns:1fr; /* Una sola columna */
            grid-gap: 7%; /* Espacio entre celdas */
            background-color: #0a0f2c; /* Azul oscuro */
            border-radius: 10px; /* Bordes redondos */
            border: 2px solid #00d9ff; /* Línea LED azul celeste */
            padding: 8%; /* Espaciado interno en porcentaje */
            box-shadow: 0 0 10px #00d9ff; /* Efecto LED brillante */
            min-height: 60vh; /* Altura mínima para formularios más largos */
            max-width: 100%; /* Ancho máximo en porcentaje */
            margin: 0 auto; /* Centrar el formulario */
        }
         
        .formulario1x2 {
            display: grid;
            grid-template-columns:1fr; /* Una sola columna */
            grid-gap: 7%; /* Espacio entre celdas */
            background-color: #0a0f2c; /* Azul oscuro */
            border-radius: 10px; /* Bordes redondos */
            border: 2px solid #00d9ff; /* Línea LED azul celeste */
            padding: 8%; /* Espaciado interno en porcentaje */
            box-shadow: 0 0 10px #00d9ff; /* Efecto LED brillante */
            min-height: 80vh; /* Altura mínima para formularios más largos */
            max-width: 100%; /* Ancho máximo en porcentaje */
            margin: 0 auto; /* Centrar el formulario */
        }



        .formulario2x2 {
            display: grid;
            z-index: 10; 
            grid-template-columns: 1fr 1fr; /* Una sola columna */
            grid-gap: 4%; /* Espacio entre celdas */
            background-color: #0a0f2c; /* Azul oscuro */
            border-radius: 10px; /* Bordes redondos */
            border: 2px solid #00d9ff; /* Línea LED azul celeste */
            padding: 4%; /* Espaciado interno en porcentaje */
            box-shadow: 0 0 10px #00d9ff; /* Efecto LED brillante */
            min-height: 50vh; /* Altura mínima para formularios más largos */
            max-width: 100%; /* Ancho máximo en porcentaje */
            margin: 0 auto; /* Centrar el formulario */
        }
        
        .formulario8x1 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; /* Una sola columna */
            grid-gap: 4%; /* Espacio entre celdas */
            background-color: #0a0f2c; /* Azul oscuro */
            border-radius: 10px; /* Bordes redondos */
            border: 2px solid #00d9ff; /* Línea LED azul celeste */
            padding: 4%; /* Espaciado interno en porcentaje */
            box-shadow: 0 0 10px #00d9ff; /* Efecto LED brillante */
            min-height: 50vh; /* Altura mínima para formularios más largos */
            max-width: 100%; /* Ancho máximo en porcentaje */
            margin: 0 auto; /* Centrar el formulario */
        }

        .sindatos {
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
            position: fixed; /* Fija el elemento en la pantalla */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* Asegura el centrado exacto */
            width: 30vw; /* Ancho del 30% de la pantalla */
            max-width: 400px; /* Máximo ancho */
            height: auto; /* Altura automática según el contenido */
            padding: 1.5vw; /* Espaciado interno */
            background-color: #000; /* Fondo negro */
            color: #fff; /* Letras blancas */
            font-size: 1.2vw; /* Tamaño de letra ajustado */
            font-weight: bold; /* Letras en negrita */
            text-align: center; /* Alinea el texto al centro */
            border: 3px solid red; /* Borde rojo */
            border-radius: 10px; /* Bordes ligeramente redondeados */
            box-shadow: 0 0 10px 2px red; /* Efecto LED rojo */
            margin: 1vw; /* Margen alrededor del recuadro */
            z-index: 9999; /* Asegura que esté por encima de otros elementos */
        }
        