/* Estilos para pantallas entre 768px y 4991px */
@media (min-width: 768px) and (max-width: 4991px) {
    /* Sidebar */
    .sidebar {
        margin: 0;
        padding: 0;
        width: 20%; /* 20% del ancho de la pantalla */
        background-color: #000000;
        position: fixed;
        height: 100vh; /* Full height */
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #039ed1 #1f2937;
    }

    .sidebar a {
        display: block;
        color: rgb(255, 255, 255);
        padding: 10px 8%; /* Espaciado controlado */
        text-decoration: none;
        font-size: 1.2rem; /* Tamaño de fuente más moderado */
        position: relative;
        overflow: hidden;
        border-bottom: 2px solid #039ed1; /* Línea debajo de cada opción */
    }
  
    /* Efecto hover en las opciones */
    .sidebar a:hover {
        background-color: #1f1f1f; /* Fondo oscuro al pasar el mouse */
        color: #039ed1; /* Texto azul al pasar el mouse */
    }
  
    /* Línea LED debajo de cada opción */
    .sidebar a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: linear-gradient(90deg, #039ed1, #039ed1);
        transition: width 0.5s ease-in-out;
    }
  
    .sidebar a:hover::after {
        width: 100%;
    }
  
    /* Contenido principal */
    div.content {
        margin-left: 20%; /* El contenido ocupa el 80% del ancho de la pantalla */
        padding: 3% 4%; /* Espaciado ajustado */
        height: 100%; /* Full height */
    }
  
    /* Botón de colapso */
    .sidebar.w-20 button {
        right: 2%;
        width: 40px; /* Ancho fijo */
        height: 40px; /* Alto fijo */
    }
  
    /* Scrollbar personalizado */
    .sidebar::-webkit-scrollbar {
        width: 6px; /* Ancho controlado del scrollbar */
    }
  
    .sidebar::-webkit-scrollbar-track {
        background: #1f2937;
    }
  
    .sidebar::-webkit-scrollbar-thumb {
        background-color: #039ed1;
        border-radius: 6px;
    }
}
